body {
    font-family: Arial, sans-serif;
    background-color: #8896ba;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    text-align: center;
  }
  
  .container {
    background-color: #ADBBDA;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  
  /* Resetting default styles for better consistency */
  input[type="text"],
  input[type="number"],
  input[type="button"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background-color: #f0f0f0;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="button"]:focus {
    background-color: #e0e0e0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"]:hover,
  input[type="number"]:hover,
  input[type="button"]:hover {
    background-color: #ffff;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #demo {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
 
  @media screen and (max-width: 600px) {
    .container {
      max-width: 300px;
    }
  }
  